<div class="app-holder">
    <div class="app-bg"></div>
    <div class="header-holder">
        <img src="web-app/images/logo.png" alt="Rocko Climbing" />
    </div>
    <div class="container content-holder">
        <$ _show="?($Display === 'Start')">
            <button _elem="CreateBoulderBetasVideo" class="btn btn-primary btn-lg">
                Create Boulder Betas Video
            </button>
            <div class="home-hint hint">
                Welcome! Click the button above to quickly add videos. You can select more than one file.
            </div>
        </$>
        <$ _show="?($Display === 'BoulderBetas')">
            <button _elem="CreateClip" class="btn btn-primary btn-lg">
                Create Video
            </button>
            <div _elem="BoulderBetas" class="list-group list-holder">
                <div _repeat="BoulderBetas:BoulderBeta" class="list-group-item">
                    <div class="row mb-2">
                        <div class="col-auto handle">
                            <div class="btn btn-light">
                                <i class="fas fa-ellipsis-v">&nbsp;</i>
                            </div>
                        </div>
                        <div class="col list-input">
                            <input _elem="BoulderBeta_Name" type="text" 
                                    value="$BoulderBeta.Name"
                                    class="form-control" />
                        </div>
                    </div>
                    <div class="hint hint-sm">
                        $BoulderBeta.FilePath
                    </div>
                </div>
            </div>
        </$>
        <$ _show="?($Display === 'CreatingClip')">
            <div class="alert alert-secondary w-100" role="alert">
                Creating video...
            </div>
        </$>
        <$ _show="?($Display === 'ClipCreated')">
            <h3 class="text-center mb-3">Your video has been created!</h3>
            <button _elem="CopyYTDescription" class="btn btn-secondary w-100">Copy YouTube Description</button>
            <textarea _elem="YTDescription" class="form-control my-2" rows="10" style="min-width: 100%;">
                $YTDescription
            </textarea>
            <div class="hint my-2">After uploading video to YouTube paste link below to create QR codes:</div>
            <input _elem="YTLink" type="text" class="form-control" placeholder="YouTube Link" />
            <button _elem="CreateQRCodes" class="btn btn-primary btn-lg w-100 mt-2">
                Create QR Codes
            </button>
        </$>
        <$ _show="?($Display === 'CreatingQRCodes')">
            <div class="alert alert-secondary w-100" role="alert">
                Creating QR Codes...
            </div>
        </$>
    </div>
</div>

<$ _holder="msgs" />