
<div class="container text-center p-5">
    <$ _show="?($Display === 'Start')">
        <button _elem="CreateBoulderBetasVideo" class="btn btn-primary btn-lg">
            Create Boulder Betas Video
        </button>
    </$>
    <$ _show="?($Display === 'BoulderBetas')">
        <button _elem="CreateClip" class="btn btn-primary btn-lg">
            Create Video
        </button>
        <hr />    
        <div _elem="BoulderBetas" class="list-group">
            <div _repeat="BoulderBetas:BoulderBeta" class="list-group-item">
                <input type="text" value="$BoulderBeta.Name" /><br />
                $BoulderBeta.FilePath
                </div>
            </div>
        </$>
        <$ _show="?($Display === 'CreatingClip')">
        <h1>Creating video...</h1>
    </$>
    <$ _show="?($Display === 'ClipCreated')">
        <h3>Video created.</h3>
        <button _elem="CopyYTDescription" class="btn btn-primary">Copy YouTube Description</button>
        <textarea _elem="YTDescription" class="form-control m-2" rows="10" style="min-width: 100%;">
            $YTDescription
        </textarea>
        <input _elem="YTLink" type="text" class="form-control" />
        <button _elem="CreateQRCodes" placeholder="YouTube Link" 
                class="btn btn-primary">
            Create QR Codes
        </button>
    </$>
</div>

<$ _holder="msgs" />